* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(233, 233, 233);
  font-size: 20px;
}

header {
  height: 120px;
  background-color: white;
}

img {
  width: 80px;
  margin: 20px 0px 20px 30px;
  vertical-align: middle;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 60px;
}

main {
  max-width: 960px;
  border-radius: 10px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  background-color: white;
}

div {
  display: inline-block;
  vertical-align: middle;
}

#main-header {
  height: 92px;
  border-bottom: 2px solid lightgray;
  font-size: 16px
}

#main-header section {
  padding: 0;
}

#main-header div {
  padding: 10px 15px;
  border-radius: 8px;
  margin: 25px 4px;
}

#add-task {
  border: 2px solid rgb(49, 185, 253);
}

#add-section {
  border: 2px solid lightgray;
  color: lightgray;
}

.bg-lightblue {
  background-color: rgb(49, 185, 253);
}

.txt-white {
  color: white;;
}

.centered {
  max-width: 800px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 10px;
}

.to-do {
  display: block;
  margin: 10px 0px 20px;
}

.check {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.brd-green {
  border: 1px solid lime
}

.brd-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tag {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 14px;
}